*.class
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/lib
/build.xml
/MANIFEST.MF

# sbt specific
target/
lib_managed/
src_managed/
project/boot/
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/
/bin

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.cache
.classpath
.project
.scala_dependencies
.settings
.target/

# Mac
.DS_Store
